---
import accountDialogImg from "public/screenshots/accountDialog.webp";
import connectWalletBtnImg from "public/screenshots/connectWalletBtn-chainSelectorBtn.webp";
import chainSelectorDialogImg from "public/screenshots/switchChainDialog.webp";
import galleryContent from "@/assets/content/gallery.json";
import ImageDesc from "@/components/imageDesc.astro";
import { getLocalesByLang } from "@/lib/locale";

const {
  title,
  accountDialogImgDesc,
  chainSelectorDialogImgDesc,
  connectWalletBtnImgDesc,
} = getLocalesByLang(galleryContent, Astro.currentLocale);
---

<div class="space-y-4">
  <h1 class="text-2xl">{title}</h1>

  <div class="columns-2 gap-2">
    <ImageDesc
      size="lg"
      className="mb-2 break-inside-avoid"
      src={connectWalletBtnImg.src}
      description={connectWalletBtnImgDesc}
    />

    <ImageDesc
      size="sm"
      className="mb-2 break-inside-avoid"
      src={chainSelectorDialogImg.src}
      description={chainSelectorDialogImgDesc}
    />

    <ImageDesc
      size="sm"
      className="mb-2 break-inside-avoid"
      src={accountDialogImg.src}
      description={accountDialogImgDesc}
    />
  </div>
</div>
