---
import usesInContent from "@/assets/content/usesIn.json";
import { getLocalesByLang } from "@/lib/locale";

const shadcnReqComponents = ["Avatar", "Alert Dialog", "Button", "Sonner"].map(
  (name) => ({
    name: name,
    url: `https://ui.shadcn.com/docs/components/${name.toLowerCase().replaceAll(" ", "-")}`,
  }),
);

const { title, web3_sub, comp_sub, shadcn_comp_sub } = getLocalesByLang(
  usesInContent,
  Astro.currentLocale,
);
---

<div class="space-y-4">
  <h1 class="text-2xl">{title}</h1>

  <div class="flex flex-col gap-4">
    <h2 class="text-xl font-medium">{web3_sub}</h2>

    <span class="pl-2">
      • Wagmi (React) <br />
      <a class="link" href="https://wagmi.sh/react/installation">
        https://wagmi.sh/react/installation
      </a>
    </span>

    <h2 class="text-xl font-medium">{comp_sub}</h2>

    <span class="pl-2">
      • Shadcn <br />
      <a
        class="link"
        href="https://ui.shadcn.com/docs/installation"
        target="_blank"
      >
        https://ui.shadcn.com/docs/installation
      </a>
    </span>

    <span class="pl-2">
      • Lucide React (Icons) <br />
      <a class="link" href="https://lucide.dev/" target="_blank">
        https://lucide.dev/
      </a>
    </span>

    <h2 class="text-xl font-medium">{shadcn_comp_sub}</h2>

    <ul class="pl-2 space-y-3">
      {
        shadcnReqComponents.map(({ name, url }) => (
          <li>
            • {name} <br />
            <a href={url} target="_blank" class="link pl-2">
              {url}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>
