---
import chainSelectorTsx from "@wcs/components/ChainSelector?raw";
import connectWalletTsx from "@wcs/components/ConnectWallet?raw";
import chainSelectorQuickDesc from "@/assets/content/quick-start/chainSelectorQuickDesc.md?raw";
import connectWalletQuickDesc from "@/assets/content/quick-start/connectWalletQuickDesc.md?raw";
import wcDesc from "@/assets/content/quick-start/walletConnectDesc.md?raw";
import CodeSnippet from "@/components/code.astro";
import Script from "@/components/script.astro";
import StepSection from "@/components/step.astro";
import RootLayout from "@/layouts/RootLayout.astro";
import { parseMinimalMdToHtml } from "@/lib/markdown";

const wcDescHtml = parseMinimalMdToHtml(wcDesc);
const csQuickDescHtml = parseMinimalMdToHtml(chainSelectorQuickDesc);
const connectWalletQuickDescHtml = parseMinimalMdToHtml(connectWalletQuickDesc);

const shadcnReqComponents = ["Avatar", "Alert Dialog", "Button", "Sonner"].map(
  (name) => ({
    name: name,
    command: `pnpm dlx shadcn@latest add ${name.toLowerCase().replaceAll(" ", "-")}`,
    url: `https://ui.shadcn.com/docs/components/${name.toLowerCase().replaceAll(" ", "-")}`,
  }),
);

const shadcnReqComponentsScript = shadcnReqComponents.map(
  ({ command }) => command,
);
---

<RootLayout title="Wallet Connect">
  <div class="flex flex-col gap-18 overflow-y-scroll size-full pb-8">
    <StepSection title="Getting Started" className="mt-10 gap-8">
      <p set:html={wcDescHtml} />

      <div class="space-y-4">
        <h3 class="text-2xl">Requisitos</h3>

        <ol class="flex flex-col gap-6">
          <div class="flex flex-col gap-4">
            <li>Wagmi & Viem</li>

            <Script scripts="pnpm add wagmi viem@2.x @tanstack/react-query" />
          </div>

          <div class="flex flex-col gap-4">
            <li>Shadcn</li>

            <a
              class="text-blue-500 hover:underline w-max"
              href="https://ui.shadcn.com/docs/installation"
              target="_blank"
            >
              https://ui.shadcn.com/docs/installation
            </a>
          </div>

          <div class="flex flex-col gap-4">
            <li>Shadcn Components</li>

            <ul>
              {
                shadcnReqComponents.map(({ name, url }) => (
                  <li>
                    {name}
                    <a
                      class="text-blue-500 hover:underline"
                      href={url}
                      target="_blank"
                    >
                      {"(link)"}
                    </a>
                  </li>
                ))
              }
            </ul>

            <Script scripts={shadcnReqComponentsScript} />
          </div>
        </ol>
      </div>

      <p set:html={csQuickDescHtml} />
      <CodeSnippet title="ChainSelector.tsx" code={chainSelectorTsx} />

      <p set:html={connectWalletQuickDescHtml} />
      <CodeSnippet title="ConnectWallet.tsx" code={connectWalletTsx} />
    </StepSection>

    <StepSection title="Example" />
  </div>
</RootLayout>

<style is:inline>
  ol {
    list-style-type: none;
    counter-reset: custom-counter;
    padding-left: 0;
  }

  ol li {
    counter-increment: custom-counter;
    position: relative;
    font-size: 1.25em;
  }

  ol li::before {
    content: counter(custom-counter) ". ";
    color: white;
    opacity: 0.5;
    font-size: 0.75em;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  ul li {
    padding-left: 1.25rem;
  }

  ul li::before {
    content: "• ";
  }
</style>
