---
import "@/styles/global.css";
import { Image } from "astro:assets";
import background from "public/background.webp";
import favicon from "public/favicon.svg";
import applicationJsonLocales from "@/assets/content/application.json";
import rootLocales from "@/assets/content/root.json";
import seoLocales from "@/assets/content/seo.json";
import { Github, ScanEye } from "@/components/icon.astro";
import LangSelector from "@/components/langSelector.astro";
import LinkButton from "@/components/linkButton.astro";
import { SOCIAL_NETWORKS } from "@/lib/constants";
import { getLocalesByLang } from "@/lib/locale";

const { previewLabel } = getLocalesByLang(rootLocales, Astro.currentLocale);

const { description, canonical, keywords } = getLocalesByLang(
	seoLocales,
	Astro.currentLocale,
);

const applicationJson = getLocalesByLang(
	applicationJsonLocales,
	Astro.currentLocale,
);
---

<html lang={Astro.currentLocale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="viewport" content="width=device-width" />

    <meta name="description" content={description} />
    <link rel="canonical" href={canonical} />
    <meta name="author" content="Cristian Carralero" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content={keywords} />

    <title>Wallet Connect</title>

    <!-- Open Graph -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Wallet Connect" />
    <meta property="og:description" content={description} />

    <!-- <meta property="og:image" content="/background.webp" /> -->
    <meta property="og:url" content={canonical} />
    <meta property="og:locale" content="es_ES" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Wallet Connect" />
    <meta name="twitter:description" content={description} />
    <!-- <meta name="twitter:image" content="/background.webp" /> -->
    <meta name="twitter:creator" content={SOCIAL_NETWORKS.XUsername} />

    <!-- Structured Data -->
    <script
      is:inline
      type="application/ld+json"
      set:html={JSON.stringify(applicationJson)}
    />
  </head>

  <body class="h-screen overflow-y-auto bg-neutral-950 space-y-8">
    <Image
      src={background}
      loading="lazy"
      alt="App background"
      class="fixed opacity-20 -z-50 size-full"
    />

    <header
      class="fixed z-50 top-0 border-b border-b-neutral-900 h-20 w-full bg-neutral-950/50 backdrop-blur-xl"
    >
      <div
        class="max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-6xl mx-auto flex items-center justify-between size-full px-2"
      >
        <h1>Wallet <b class="bg-blue-800 px-2">Connect</b></h1>

        <div class="flex gap-2">
          <LinkButton href="https\://github.com/criss8X/wallet-connect">
            <span class="leading-relaxed">Github</span>

            <Github class="size-4" />
          </LinkButton>

          <LinkButton href="/wallet-connect/preview">
            <span class="leading-relaxed">{previewLabel}</span>

            <ScanEye class="size-4" />
          </LinkButton>

          <LangSelector />
        </div>
      </div>
    </header>

    <main
      class="pt-32 max-w-2xl md:max-w-3xl lg:max-w-4xl xl:max-w-6xl mx-auto pb-12 space-y-12"
    >
      <slot />
    </main>
  </body>
</html>
